<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>/
</head>

<body>

    <h1>Luiza Labs Taskforce (Employee Manager)</h1>

    <p>This is a very simple app developed for my second interview step to pass (hope so :D).
        It contains two things: </p>
    <ul>
        <li>A django-admin manager to CRUD operations</li>
        <li>An API Read-Only developed using Django REST Framework.</li>
    </ul>
</body>
</html>
-->
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
<div class="jumbotron">
    <div class="header clearfix"></div>
 <h1 class="centered">Luiza Labs Taskforce</h1>

    <p class="lead">This is a very simple app developed for my second interview step.
        Basically, it contains two things: </p>
    <ul>
        <li>A django-admin manager to CRUD operations</li>
        <li>An API Read-Only developed using Django REST Framework.</li>
    </ul>
    </div>
    </div>

{% endblock content %}
